node_modules/
dist/
dist-ssr
src-tauri/target/

# Playwright
test-results/
playwright-report/
.playwright/

*.db
*.db-*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local / misc
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
